@import "mixins";

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body,
#app{
    height: 100%;
    box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    padding: 0;
    margin: 0;
}

.section-title{
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: .75rem;
}

.text,
.section-text{
    font-size: 1.2rem;
    line-height: 1.6;

}

.txt-light{
    color: #ffffff;
}

.text-dark{
    color: #161616;
}

/**
            ui
*/

.app-btn{
    padding: .25rem .75rem;
    background:none;
    color: white;
    border: 1px solid white;
    
}

.btn-cta{
    font-weight: 600;
    margin-top: 1.25rem;
    border:1px solid #d5dddf;
    &:hover{
      background-color: #6b8e4e;
      color: #ffffff;
      border: 1px solid #6b8e4e;
    }
  }

.btn-cta-dark{
    margin-top: 1.25rem;
    background-color: #6b8e4e;
    border-color: #6b8e4e;
    color:#d5dddf ;

    &:hover{
        background-color: #1b2727;
        color: #d5dddf;
    }
}